{%extends "layout.html"%}
{% block title %}
    Search
{% endblock %}

{% block body %}
    <h2>Search</h2>
    <br>
    
    <form action="{{ url_for('search') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="search" placeholder="Search">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Find</button>
        </div>
    </form>
    
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}

    <ul>
        {% for book in books %}
            <li>
                <a href="{{ url_for('book', book_id=book.book_id) }}">
                    {{ book.title }} by {{ book.author }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}